{% extends 'bug/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'bug/css/main.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="colmask">
            <header>
                <div class="submit_form">
                    <form action="addBug/{{bug.id}}" method="POST">
                        {% csrf_token %}
                        {{forms|crispy}}
                        <center>
                            <input type="submit" class="btn btn-default" value="submit" />
                        </center>
                    </form>
                </div>
            </header>
            <div class="colmid">
                <div class="colleft">
                    <div class="col1">
                        mid
                    </div>
                    <div class="col2">
                        {% for bug in todo_list %}
                        <div class="card">
                            <center><b>{{bug.title}}</b></center>
                            <hr />
                            {{bug.date}}
                            <hr />
                            {{bug.body}}
                            <br />
                            <br />
                            <!-- <button action="del/{{bug.id}}"><a>Delete</a></button> -->
                            <form action="del/<int:pk>" method="POST">
                                {% csrf_token %}
                                <center>
                                    <input type="submit" class="btn btn-default" value="submit" />
                                </center>
                            </form>
                            <!-- <form action="/del/" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                                {% csrf_token %}
                                <button value="remove" type="submit" class="btn btn-primary" style="float: right;"><span
                                        class="glyphicon glyphicon-trash"></span> &nbsp; remove</button>
                            </form> -->
                        </div>
                        {% endfor%}

                    </div>
                    <div class="col3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}