{% extends 'bug/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'bug/css/main.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="colmask">
            <div class="header">
                header
            </div>
            <div class="colmid">
                <div class="colleft">
                    <div class="col1">
                        mid
                    </div>
                    <div class="col2">
                        left
                    </div>
                    <div class="col3">
                        right
                    </div>
                </div>
            </div>
            <div class="footer">
                footer
            </div>
        </div>
    </div>
</div>
{% endblock content %}